<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upload File</title>
</head>
<body>
  <%- include("./partials/navbar") %>
  <form action="/files/upload-file" method="POST" enctype="multipart/form-data">
    <input type="file" name="file">
    <label for="folder-select">Choose a Folder</label>
    <select name="folderId" id="folder-select">
      <option value="">-- Select a Folder --</option>
      <% folders.forEach((folder ) => { %>
        <option value="<%= folder.id %>"><%= folder.name %></option>
      <% }) %>
    </select>
    <button type="submit">Submit</button>
  </form>
</body>
</html>