<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update Folder</title>
</head>
<body>
  <%- include("./partials/navbar") %>
  <% if (locals.folder) { %>
    <h1>Folder <%= folder.name %></h1>
    <form action="/folders/<%= folder.id %>" method="POST">
      <label for="update-folder">Folder Name</label>
      <input type="text" name="name" id="update-folder" value="<% folder.name %>">
      <button type="Submit">Update Folder</button>
    </form>
  <% } else { %>
    <h1>This folder does not exist</h1>
  <% } %>
</body>
</html>