<nav>
  <ul>
    <li><a href="/">Home Page</a></li>
    <li><a href="/log-in">Sign in</a></li>
    <li><a href="/sign-up">Sign up</a></li>
    <li><a href="/log-out">Log Out</a></li>
    <li><a href="/files/upload-file">Upload file</a></li>
    <li><a href="/files">View Files</a></li>
    <li><a href="/folders">View Folders</a></li>
    <li><a href="/folders/create-folder">Create Folder</a></li>
  </ul>
</nav>
